.DS_Store
.ropeproject
tmp/*
.env
src/*.egg-info
.npm-global
src/__pycache__
deps/*
data/*
voices/*
result
docs/book/*
tmp
docs/book
voices
deps
.venv
.claude
auth
certs
compose-metadata.json
*-metadata.json
*-compose.json
