[submodule "extern/neko"]
	path = extern/neko
	url = https://github.com/m1k1o/neko.git
[submodule "extern/python-webrtc"]
	path = extern/python-webrtc
	url = https://github.com/MarshalX/python-webrtc.git
[submodule "extern/libwebrtc"]
	path = extern/libwebrtc
	url = https://webrtc.googlesource.com/src.git
	branch = branch-heads/4515
